.header-area {
    background-color: var(--bg-color-1);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.dot {
    position: relative;
    height: 32px;
    width: 32px;
    border: 2px solid var(--color-border);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &::after {
        position: absolute;
        content: " ";
        height: 14px;
        width: 14px;
        line-height: 4px;
        border-radius: 100px;
        background-color: var(--color-border);

    }
    
}