.header-area {
    background-color: var(--bg-color-1);
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          a {
            display: inline-block;
            position: relative;
            &::before {
              position: absolute;
              content: "";
              height: 1px;
              width: 1%;
              background-color: var(--color-primary);
              bottom: -5px;
              right: 0;
              opacity: 0;
              transition: var(--transition);
            }
            &:hover {
              &::before {
                opacity: 1;
                width: 70%;
              }
            }
          }
        }
    }
    a {
        display: inline-block;
        .hamburger-container {
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 0 18px;
        }
    }
}

  .circle{
    position: absolute;
    height: 50px;
    width: 50px;
    border: solid 2px gray;
    border-radius: 100%;
  }
  
  .green{
    background: green;
  }
  .hamburger {
    color: var(--color-border);
}