.header-area {
    position: absolute;
    width: 100%;
    z-index: 100;
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          a {
            display: inline-block;
            position: relative;
          }
        }
    }
    a {
        display: inline-block;
        .hamburger-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 58px 18px;
        }
    }
}

  .circle{
    position: absolute;
    height: 50px;
    width: 50px;
    border: solid 2px gray;
    border-radius: 100%;
  }
  
  .green{
    background: green;
  }
  .hamburger {
    color: var(--color-border);
}